# Dependencies
node_modules/

# Build output
/dist
tsconfig.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea
*.iml
.vscode

# Misc
.swc
/src/cli